.user-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 80px;
}

.user-name-main {
  margin-left: 82px;
}

.user-location {
  margin-left: 92px;
}

.about-title {
  margin-top: 50px;
  text-align: center;
}

.github-link {
  width: fit-content;
  height: 45px;
  border: none;
  background-image: linear-gradient(
    to bottom right,
    rgb(17, 87, 42),
    rgb(43, 231, 115)
  );
  color: white;
  padding: 1em 1.5em;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

.github-link:hover {
  background-image: linear-gradient(
    to bottom right,
    rgb(31, 75, 46),
    rgb(39, 185, 95)
  );
}

.a-container {
  margin-top: 50px;
}

.repo-link {
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(6, 125, 180);
}
.repo-link:hover {
  color: rgb(0, 168, 247);
}

.repo-description {
  margin-top: -6px;
}

.updated {
  margin-top: -6px;
}
