.user-img-round {
  margin-top: 15px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.link {
  height: 40px;
  width: 130px;
  border: none;
  border-radius: 6px;
  color: white;
  background-image: linear-gradient(to bottom right, #444444, #727171);
  cursor: pointer;
  font-size: 15px;
}

.link:hover {
  background-image: linear-gradient(to bottom right, #1f1e1e, #555252);
}

.user-card {
  border: none;
  border-radius: 8px;
  height: 200px;
  width: 350px;
  margin-left: 80px;
  margin-top: 20px;
  background-color: #bdbec0;
}

.user-name {
  margin-top: 10px;
  margin-bottom: 10px;
}
