.logo {
  flex-grow: 1;
  margin-bottom: 200px;
}
.img {
  float: left;
  margin-right: 10px;
  margin-top: -3px;
}

.links {
  display: flex;
  gap: 30px;
  margin-right: 25px;
}

.link-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.link-btn:hover {
  color: rgb(216, 221, 226);
}
